.club-section {
  padding: 40px 20px;
  background-color: #a8dadc;
  text-align: center;
}

.club-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #1a1a1a;
}

.club-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.club-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 8px #0000001a;
  padding: 13px;
  width: 300px;
  height: auto;
  text-align: center;
  transition: transform 0.3s;
}

.club-card:hover {
  transform: translateY(-5px);
}

.club-name {
  font-size: 2rem;
  margin-bottom: 10px;
}

.club-image,
image {
  width: 200px;
  height: auto;
}
