header {
  background-color: #2c77a0;
  border-radius: 0px 0px 13px 13px;
  padding: 10px 20px;
}

.logo-title {
  max-width: 100px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

header .container nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  background-color: #2c77a0;
  border: 1px solid #155e84;
  border-radius: 10px;
  padding: 8px 16px;
}

nav a,
.submenu-button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background 0.3s;
}

nav a:hover,
.submenu-button:hover {
  background-color: #1c5b82;
}

/* SUBMENU */
.submenu {
  position: relative;
  display: inline-block;
}

.submenu-content {
  position: absolute;
  background-color: #2c77a0;
  border: 1px solid #155e84;
  border-radius: 5px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  margin-top: 4px;
  padding: 4px 0;
  min-width: 120px;
}

.submenu-content a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}

.submenu-content a:hover {
  background-color: #1c5b82;
}

/* RESPONSIVE */
@media (max-width: 850px) {
  header .container {
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 550px) {
  header .container nav {
    flex-direction: column;
    text-align: center;
  }
}
